<!-- Template For Displaying a Featured Parks
    - Display all featured parks in a grid on this page
-->

<%- include ('../partials/header')%>
    <link rel="stylesheet" href="/css/login.css" />

    <main>
        <style>
            .profileContainer {
                display: grid;
                margin: auto;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 5px;
                width: 50%;
                padding: 10px;
            }

            .facility {
                border-style: solid;
                padding: 10px;
                margin: 5px;
            }
        </style>

        <%- include ('../partials/menu')%>

            <section id="profileContainer" class="vh-100" style="background-color: #f4f5f7; height:100%;">
                <h3 style="text-align: center;">Featured Parks</h3>
                <p style="text-align: center;">Here are some of our favorite parks in your local area!</p>
                <div class="profileContainer">
                    <% data.forEach(function (park) { %>
                        <form action="/court" method="GET">
                            <div class="card text-center" style="width: 18rem; height: 10rem">
                                <div class="card-body">
                                    <input type="hidden" name="name" value="<%- park.name %>">
                                    <h5><%- park.name %></h5>
                                    <h5><%- park.location %></h5>
                                    <button type="submit" class="btn btn-success">View Courts</button>
                                </div>
                            </div>
                        </form>
                        <% }); %>
                </div>
            </section>
    </main>

    <%- include ('../partials/footer') %>