<!-- Template For Displaying a Featured Parks
    - Display all featured parks in a grid on this page
    <link rel="stylesheet" href="/css/featured-parks.css" />
-->

<%- include ('../partials/header')%>
<link rel="stylesheet" href="/css/park.css" />

<main>
  <%- include ('../partials/menu')%>
  <div class="container">
    <h3 style="text-align: center">Featured Parks</h3>
    <p style="text-align: center">Here are some of our most popular parks!</p>
    <div class="row justify-content-center">
      <%data.forEach(park=> { %>
      <a href="/park?id=<%=park.facilityid%>">
        <div class="col- mx-auto mb-3" style="padding: 5px">
          <div class="parkCard">
            <%if (park.img) {%>
            <img class="parkImage" src="<%=park.img%>" alt="" />
            <%} else {%>
            <img class="parkImage" src="/img/defaultPark.jpg" alt="" />
            <%}%>

            <div class="d-flex flex-column parkCardContent">
              <span class="parkName"><%-park.name %></span>
              <span class="parkCity">City: <%-park.city %></span>
              <span class="parkReservations"
                ># Reservations: <%-park.numres %></span
              >
            </div>
          </div>
        </div>
      </a>
      <%}) %>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
