<!-- Template For Displaying a Park
    - Display all courts at park in a list on this page
-->

<%- include ('../partials/header')%>
<link rel="stylesheet" href="/css/parks.css" />
<link rel="stylesheet" href="/css/park.css" />

<main>
  <%- include ('../partials/menu')%>

  <div class="container">
    <div class="d-flex flex-column justify-content-center">
      <div class="text-left mt-3">
        <a href="javascript:history.back()" class="btn btn-back">Back</a>
      </div>

      <div
        class="d-flex flex-column justify-content-center align-items-center mt-3"
      >
        <%if (park.img) {%>
        <img class="parkImageHeader" src="<%=park.img%>" alt="" />
        <%} else {%>
        <img class="parkImageHeader" src="/img/defaultPark.jpg" alt="" />
        <%}%>

        <div
          class="parkInfo d-flex flex-column justify-content-center align-items-center"
        >
          <span class="parkTextHeader"><%-park.name %></span>
          <span class="parkAddress"
            ><%-park.address%>, <%-park.city%> <%-park.location%></span
          >
        </div>
      </div>

      <div class="div-courts d-flex flex-column mt-5 justify-content-center">
        <% courts.forEach(court => {%>
        <a href="/court?courtid=<%-court.courtid%>">
          <div class="d-flex justify-content-center">
            <div
              class="court-card d-flex flex-wrap flex-column align-items-center justify-content-center p-3 m-2 shadow"
            >
              <span class="parkTextHeader text-center" style="color: white"
                ><%-court.name%></span
              >
            </div>
          </div>
        </a>
        <%})%>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
