<!-- Template For Displaying a All Reservations for a user
    - Display all reservations for a user in a list on this page
-->

<%- include ('../partials/header')%>
    <main>
        <%- include ('../partials/menu')%>
            <link rel="stylesheet" href="/css/reservations.css" />
            <div class="container-md mt-5 text-center">
                <h6>MY RESERVATIONS</h6>
            </div>
            <div class="container mt-5">
                <% if(!data[0]){%>
                    <p style="text-align: center;">You currently have no reservations.</p>
                    <%};%>
                        <% data.forEach(function(item){ %>
                            <div class="card mb-2 border-secondary">
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-4" style="padding-top: 18px;">
                                            <h5>
                                                <%=item.court_date.toLocaleDateString()%>
                                            </h5>
                                            <p>
                                                Time: <%- (item.start_time)/100 %>:00 - <%- (item.end_time)/100 %>:00
                                            </p>
                                        </div>


                                        <div class="col-md-5">

                                            <p class="card-text">Park: <%=item.park%>
                                            </p>
                                            <p class="card-text">Court: <%=item.court%>
                                            </p>
                                            <p class="card-text">Address: <%=item.address%>
                                            </p>
                                            <% if (item.userid==user_id) { %>
                                                <p class="card-text">Opponent: N/A</p>
                                                <% } else if (item.joineduserid==user_id) { %>
                                                    <p class="card-text">Opponent: <%- item.username %></p>
                                                    <% } else { %>
                                                        <p class="card-text">Opponent: N/A</p>
                                                        <% } %>
                                        </div>

                                        <div class="col-md-3 d-flex justify-content-end align-items-center">
                                            <form id="cancelForm" action="/reservations" method="POST">
                                                <input type="hidden" name="reservationID" value=<%-item.reservationid%>>
                                                <button type="submit" class="btn btn-danger">CANCEL</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <% }); %>
            </div>

    </main>

    <%- include ('../partials/footer') %>